{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "trailingComma": "es5",
  "arrowParens": "always",
  "semi": true,
  "printWidth": 80,
  "endOfLine": "auto",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"]
}
